.card__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    transition: opacity .1s ease-in-out;
}

.card__image:hover {
    opacity: .8;
    transition: border .1s ease-in-out;
}