.overlay__save-button {
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 18px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.overlay__save-button:disabled {
    opacity: 1;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    transition: opacity .15s ease-in;
}

.overlay__save-button:hover {
    opacity: .6;
}

.overlay__save-button:focus {
    outline: none;
}

.overlay__save-button:active {
    outline: none;
}

@media screen and (max-width: 660px) {
    .overlay__save-button {
        font-size: 14px;
        line-height: 17px;
    }
}